*       {
  box-sizing: border-box;
}
body    {
  font-family: Arial;
    margin: 0;
    text-align: center;
}
input 	{
  width:120px;
  height:25px ;
  margin:5px auto 5px auto;
  box-sizing: border-box;
}
.header {
 padding:70px;
 text-align: center;
 background: #1abc9c;
 color: white;
 background-image: url('h2.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
.navbar {
  display: flex;
  background-color: #333;
  flex-direction: row-reverse;
}
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.row    {
  display: flex;
  flex-wrap: wrap;
}
.main   {
  flex: 90%;
  background-color:lightblue;
  padding: 20px;
}
.sidenav   {
  display: flex;
  flex: 10%;
  flex-direction: column;
  background-color:black;
  padding: 20px;
  background-image: url('h1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  padding: 3px;
  text-align: center;
  background: #ddd ;
  position: absolute;
  bottom: auto;
}
